@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@200&display=swap');

:root {
--heading-font: 'Kanit', sans-serif;
--paragraph-font: 'Prompt', sans-serif;
}

body {
    background-color: #C8C8C8;
    font-family: 'Prompt', sans-serif;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    font-size: 22px;    
}


#allin {
    width: auto;
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-decoration: none;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

#main-p {
    width: 100%;
    box-shadow: 0px 0px 15px #6f7364;
}

header {
    background-color: #DC965A; 
    margin-bottom: 50px;
}

.cl {
    grid-column: 1;
    text-align: center;
    margin-left: 84px;
    font-weight: 600;
    font-size: 40px;
}

.md {
    grid-column: 3;
    text-align: center;
    margin-right: 72px;
    font-weight:600;
    font-size: 40px;
}

.logo {
    width: 150px;
    grid-column: 2;
    text-align: center;
    box-shadow: 0px 0px 15px #6f7364;
}

.logo_link {
    grid-column: 2;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h1 {
    text-align: center;
}

h2 {
  text-align: center;
}

footer {
    background-color: #BBB891; 
    color: #74B3CE;
    font-size: 1.2em;
    padding: 25px 50px; 
    margin-top: 200px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minilogo {
    width: 100px; 
    margin-right: 50px; 
    box-shadow: 0px 0px 15px #6f7364;
}

#texttext {
    color: #242325;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    font-weight: 600;
}

#texttext p {
    margin: 5px 0; 
}

#part1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#clas1 {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 0px 0px 15px #6f7364;
}

#clas1, #clas2 {
    width: 100%;
}

#background1 {
    height: 725px;
    text-align: center;
    background-color: #242325;
    grid-column: 1/11;
    grid-row: 4/9;
    margin-bottom: 50px;
} 

#part2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#clas2 {
    grid-column: 5/10;
    grid-row: 5/8;
    box-shadow: 0px 0px 15px #6f7364;
}

#background2 {
    margin-top: 50px;
    height: 725px;
    text-align: center;
    background-color: #242325;
    grid-column: 1/11;
    grid-row: 4/9;
} 

#msg1{
    background-color: #B3B3B3; 
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 0px 0px 15px #6f7364;
}

#msg2{
    background-color: #B3B3B3; 
    padding: 35px;
    grid-column: 2/6;
    grid-row: 6/7;
    box-shadow: 0px 0px 15px #6f7364;
}

#msg1 p, #msg2 p{
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

#mainp {
    margin-bottom: 100px;
}

.join {
    background-color: #242325; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    margin-left: 200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

