@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@200&display=swap');

:root {
--heading-font: 'Kanit', sans-serif;
--paragraph-font: 'Prompt', sans-serif;
}

body {
    background-color: #C8C8C8;
    font-family: 'Prompt', sans-serif;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    font-size: 22px;    
}


#allin {
    width: auto;
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-decoration: none;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

#main-p {
    width: 100%;
    box-shadow: 0px 0px 15px #6f7364;
}

header {
    background-color: #DC965A; 
    margin-bottom: 50px;
}

.cl {
    grid-column: 1;
    text-align: center;
    margin-left: 84px;
    font-weight: 500;
    font-size: 40px;
}

.md {
    grid-column: 3;
    text-align: center;
    margin-right: 72px;
    font-weight: 500;
    font-size: 40px;
}

.logo {
    width: 150px;
    grid-column: 2;
    text-align: center;
    box-shadow: 0px 0px 15px #6f7364;
}

.logo_link {
    grid-column: 2;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h1 {
    text-align: center;
}

h2 {
  text-align: center;
}

footer {
    background-color: #BBB891; 
    color: #74B3CE;
    font-size: 1.2em;
    padding: 25px 50px; 
    margin-top: 200px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minilogo {
    width: 100px; 
    margin-right: 50px; 
    box-shadow: 0px 0px 15px #6f7364;
}

#texttext {
    color: #242325;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    font-weight: 600;
}

#texttext p {
    margin: 5px 0; 
}

#part1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#clas1 {
    grid-column: 6/11;
    grid-row: 5/8;
    box-shadow: 0px 0px 15px #6f7364;
}

#clas1 {
    width: 100%;
}

#background1 {
    height: 725px;
    text-align: center;
    background-color: #242325;
    grid-column: 1/11;
    grid-row: 4/9;
    margin-bottom: 50px;
} 

#background2 {
    margin-top: 50px;
    height: 725px;
    text-align: center;
    background-color: #242325;
    grid-column: 1/11;
    grid-row: 4/9;
} 

#msg1{
    background-color: #B3B3B3; 
    padding: 35px;
    grid-column: 1/6;
    grid-row: 6/7;
    box-shadow: 0px 0px 15px #6f7364;
}

#msg1 p, #msg2 p{
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

#mainp {
    margin-bottom: 100px;
}